# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Build output
dist/
build/

# Logs
logs/
*.log

# Uploads
uploads/*.jpg
uploads/*.png
uploads/*.pdf
uploads/*.webp
uploads/*.gif
uploads/*.mp4
uploads/*.docx

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
